body {
    font-family: Helvetica, sans-serif;
}

.center {
    margin: auto;
    display: table;
    text-align: center;
}

.course {
    background-color: #ddd;
    width: 50%;
    margin: auto;
    display: table;
}

.hidden {
    display: none;
}

/* Nav Bar CSS */
/* From here: https://www.w3schools.com/howto/howto_js_topnav.asp */
.topnav {
    background-color: #f1f1f1;
    overflow: hidden;
}

.topnav a {
    background-color: inherit;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav a.active {
    background-color: #ccc;
}
