body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: #9fa2b4;
}

/* .main {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.entry {
    display: table-cell;
    vertical-align: 33%;
} */
